body{
    font-family: 'Pretendard';
}
a{
    color:black;
    text-decoration: none;
}
.text-white{
    color:white
}
.text-center{
    text-align: center;
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
h1{ font-size: 50px;}
.hd{
    border-bottom: 1px solid #ccc;
    padding: 1em 2em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ffffff53;
    
}
#gnb li{
    padding-left: 1em;
    font-weight: 200;
}

#gnb li:nth-child(1):after{
    content: "";
    display: block;
    height: 2px;
    background: black;
    width: 0;
    transition: 0.5s;
}
#gnb li:nth-child(2):after{
    content: "";
    display: block;
    height: 2px;
    background: rgb(143, 0, 0);
    width: 0;
    transition: 0.5s;
}
#gnb li:nth-child(3):after{
    content: "";
    display: block;
    height: 2px;
    background: rgb(0, 8, 254);
    width: 0;
    transition: 0.5s;
}
#gnb li:nth-child(3):hover a{
    color: rgb(38, 2, 241);
}
#gnb li:nth-child(2):hover a{
    color: rgb(148, 0, 0);
}
#gnb li:nth-child(1):hover a{
    color: rgb(0, 0, 0);
}

#gnb  li:hover::after{
    width: 100%;
    
}

.child1, .child2, .child3{
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
}

.child1{
    background-color: yellow;
}
.child2{
    background-color: rgb(125, 125, 111);  
}
.child3{
    background-color: rgb(29, 29, 27);
} 
.child0{
    flex-direction: column;
}
.maintext{
    font-size: 3rem;
}
.ft{
    padding: 2em;
}


.sns{
   justify-content: center;
}

.sns li{ padding: 8px; border-radius: 20px; margin: 0 10px;}

.sns li:first-child{
    background-color: rgb(126, 16, 101);
    
}
.sns li:nth-child(2){
    background-color: rgb(23, 23, 163); 
}
.sns li:last-child{
    background-color: rgb(164, 0, 0);    
}

.hd h1 svg{
    height: 32px;
    display: block;

}
.hd h1 a{
    display: block;
}

.hd h1 a svg g path:nth-child(1):hover{
    fill: red;

}
.hd h1 a svg g path:nth-child(2):hover{
    fill: red;

}
